.btn {
  padding: $padding820;
  border-radius: 2px;
  outline: none;
  border: none;
  cursor: pointer;
}
.btn--primary {
  background-color: $white;
  color: $color1;
  border: 1px solid $white;
}
.btn--outline {
  background-color: transparent;
  color: $white;
  padding: $padding820;
  border: 1px solid $white;
  transition: all 0.3s ease-out;
}
.btn--medium {
  padding: $padding820;
  font-size: 18px;
}
.btn--large {
  padding: 12px 26px;
  font-size: $size20;
}
.btn--medium, .btn--large{
    :hover {
      background: $white;
      color: $color1;
      transition: all 0.3s ease-out;
    }
}